<div class="container">
  <div class="cell cell-1"><img src="../../assets/steelTounge.jpg" alt="Willie Playing the Steel Drum"></div>
  <div class="cell cell-2">Test</div>
  <div class="cell cell-3"></div>
  <div class="cell cell-4">test2</div>
  <div class="cell cell-5"><img src="../../assets/IMG-3374.jpg" alt="Willie Playing the Steel Drum"></div>
  <div class="cell cell-6">test3</div>
  <div class="cell cell-7"></div>
  <div class="cell cell-8">test4</div>
  <div class="cell cell-9"><img src="../../assets/WDrumset.JPEG" alt=""></div>
</div>
