<div class="container">
  <div class="cell cell-1"><img src="../../assets/steelTounge.jpg" alt="Willie Playing the Steel Drum"></div>
  <div class="cell cell-2"><p>Born and raised in Montana, I developed a passion for music
  in middle school. I studied the drum set all throughout high school and was the lead drummer on the high school drum-line. </p></div>
  <div class="cell cell-3"><p>I attended the University Of Montana where I Majored in Percussion and Sound Design. While attending UM I becamse an expert at the entire percussion ensemble.</p></div>
  <div class="cell cell-4"><p> During my time as a student I worked as the lead sound designer for the University of Montana to clean and alter recordings according to the need of the department. </p></div>
  <div class="cell cell-5"><img src="../../assets/IMG-3374.jpg" alt="Willie Playing the Steel Drum"></div>
  <div class="cell cell-6">To date I have started three separate bands where I composed the music in addition to acting as the lead drummer. I also perform as a guest steel drum player with Roots Uprising</div>
  <div class="cell cell-7"><p>In my free time you can find me skiing on the local mountain and playing in various bands around Montana.</p></div>
  <div class="cell cell-8"><p> Contact me for more info or if you would like to hire me for my percussion experience or sound design expertise.</p></div>
  <div class="cell cell-9"><img src="../../assets/WDrumset.JPEG" alt=""></div>
</div>
