@keyframes appear {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mat-toolbar{
  /*background-color: cornflowerblue;*/
  color: white;
}
.mat-button{
  color: white;
  /*color: black;*/
  font-size: 1.3rem;
  animation: appear;
  animation-duration: 1.5s;
}
.spacer{
  flex: 1 1 auto;
}
.nav-logo{
  font-size: 2.3rem;
}
