.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  margin: 4rem 4rem;
  border-radius: 20rem;
  width: 50vw;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

p {
  font-size: 2rem;
  line-height: 2rem;
}

.contact-info {
  color: white;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul li {
  margin-top: 3rem;
}
